<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Theming - Semantic</title>

  <!--- Site CSS -->
  <link rel="stylesheet" href="../../dist/semantic.css">

  <!--- Component CSS -->

  <!--- Example Libs -->
  <script src="../assets/library/jquery.min.js"></script>
  <script src="../../dist/semantic.js"></script>

  <!--- override Component JS -->
  <script type="text/javascript" src="../../override/dropdown.js"></script>

  <!--- Example CSS -->
  <style>
    body {
      padding: 1em;
    }

    .over-flow-hidden {
      /* overflow-y: hidden; */
      /* overflow-x: scroll; */
      overflow: scroll;

    }

    .wrapper {
      overflow-x: scroll;
      overflow-y: visible;
      /* padding-bottom: 250px; */
      /* margin-bottom: -250px; */
    }
    .wrapper1{
      height: 20px;
      width: 300px; 
      border: none 0px RED;
      overflow-x: scroll; 
      overflow-y:hidden;
  
    }
    .div1 {
    width:2000px; 
    height: 20px; }

    .natico {
      min-height: 200px;

    }
    #example2{
      position: absolute;

    }

    .table {
      min-width: 2000px;
      position: relative
    }
  </style>

  <!--- Example Javascript -->
  <script>
    $(document)
      .ready(function () {


        $(function () {
          $(".wrapper1").scroll(function () {
            $(".wrapper table")
              .css('left',$(".wrapper1").scrollLeft()*-1);
          });
          
        });

        var tableBottomOffset = 200;
        $('.natico-btn-add').on('click', function () {
          //simulate TableArray component
          var trClone = $('table#example1 tbody tr:first').clone();
          $('table#example1 tbody').append(trClone);
          //check top offset from parent;
          var topOffset = trClone.position().top
          if (topOffset > tableBottomOffset && parseInt($('.natico').css('min-height')) - trClone.height() > 0) {
            $('.natico').css('min-height', parseInt($('.natico').css('min-height')) - trClone.height());
          }
          $('.ui.dropdown', trClone).dropdown({
            context: $('table#example1'),
            onShow: function (a, b, c) {
              debugger;
            }
          });
        })
        $('.natico-btn-remove').on('click', function () {
          //simulate TableArray component
          var trClone = $('table#example1 tbody tr:last').remove();
          //check top offset from parent;
          var newTrClone = $('table#example1 tbody tr:last');
          var topOffset = newTrClone.position().top
          if (topOffset < tableBottomOffset + newTrClone.height()) {
            if (topOffset < tableBottomOffset) {
              $('.natico').css('min-height', tableBottomOffset);
            } else {
              $('.natico').css('min-height', tableBottomOffset - newTrClone.height());
            }

          }
        })


        $('.natico-btn-left').on('click', function () {
          debugger;
        })

        $('.natico-btn-right').on('click', function () {
          debugger;
        })




        $('.ui.dropdown').dropdown({
          context: $('table#example1'),
          onShow: function (a, b, c) {
            debugger;
          }
        });
      });
  </script>
</head>

<body>

  <div class="over-flow-hidden">
    <table id="example1" class="ui celled striped table">
      <thead>
        <tr>
          <th colspan="3">
            Git Repository
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="collapsing">
            <i class="folder icon"></i> node_modules
          </td>
          <td>
            <select multiple="" name="skills" class="ui normal dropdown upward">
              <option value="">Skills</option>
              <option value="angular">Angular</option>
              <option value="css">CSS</option>
              <option value="design">Graphic Design</option>
              <option value="ember">Ember</option>
              <option value="html">HTML</option>
              <option value="ia">Information Architecture</option>
              <option value="javascript">Javascript</option>
              <option value="mech">Mechanical Engineering</option>
              <option value="meteor">Meteor</option>
              <option value="node">NodeJS</option>
              <option value="plumbing">Plumbing</option>
              <option value="python">Python</option>
              <option value="rails">Rails</option>
              <option value="react">React</option>
              <option value="repair">Kitchen Repair</option>
              <option value="ruby">Ruby</option>
              <option value="ui">UI Design</option>
              <option value="ux">User Experience</option>
            </select>
          </td>
          <td class="right aligned collapsing">10 hours ago</td>
        </tr>

      </tbody>
    </table>
    <div class="natico"></div>
  </div>
  <button class="natico-btn-add">add</button>
  <button class="natico-btn-remove">remove</button>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="wrapper">

    <table id="example2" class="ui celled striped table">
      <thead>
        <tr>
          <th colspan="3">
            Git Repository
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="collapsing">
            <i class="folder icon"></i> node_modules
          </td>
          <td>
            <select multiple="" name="skills" class="ui normal dropdown upward ">
              <option value="">Skills</option>
              <option value="angular">Angular</option>
              <option value="css">CSS</option>
              <option value="design">Graphic Design</option>
              <option value="ember">Ember</option>
              <option value="html">HTML</option>
              <option value="ia">Information Architecture</option>
              <option value="javascript">Javascript</option>
              <option value="mech">Mechanical Engineering</option>
              <option value="meteor">Meteor</option>
              <option value="node">NodeJS</option>
              <option value="plumbing">Plumbing</option>
              <option value="python">Python</option>
              <option value="rails">Rails</option>
              <option value="react">React</option>
              <option value="repair">Kitchen Repair</option>
              <option value="ruby">Ruby</option>
              <option value="ui">UI Design</option>
              <option value="ux">User Experience</option>
            </select>
          </td>
          <td class="right aligned collapsing">10 hours ago</td>
        </tr>

      </tbody>
    </table>

    <div class="wrapper1">
      <div class="div1">
      </div>
    </div>

  </div>
  <button class="natico-btn-left">left</button>
  <button class="natico-btn-right">right</button>



</body>

</html>